@charset "utf-8";
header {
    display:flex;
    height: 14%;
    width: 100%;
    background-color: #fcfafa;
    /* border: 1px solid red; */
    grid-area: 1/1/8/51;
    align-items:center;
}

/* to position the children of the header flexbox */
        .header-left {
            flex:50px;
            text-align:center;
        }

        .header-center {
            flex:270px;
            text-align: center;
        }

        .header-right {
            flex:50px;
            text-align: center;
        }

        @media(min-width:389px){
            header{
        align-items:stretch;
        height: 10vw;
    }
        .header-left {
            flex:50px;
            text-align:center;
            line-height: 12vw;
        }

        .header-center {
            flex:450px;
            text-align: center;
        }

        .header-right {
            flex:50px;
            line-height: 13vw;
        }
}

@media(min-width:769px){
    header{
        grid-area: 1/1/6/51;
        height: 2%;
    }
}